body{
    background-color: turquoise;
}
h1{
    box-shadow: 3px 3px 3px whitesmoke;
}
#ttt{
    padding-top: 20px;
    text-align:center;
    width: fit-content;
    margin: auto;
}
#bbb{
    padding-top: 100px;
}